.paragraph{
    font-size: 15px;
    line-height: 10px;
    font-family:'Open Sans',sans-serif,bold;
}

.spam{
    font-size: 70px;
    line-height: 40px;
    font-family: 'Rubik',Helvetica,Arial,Lucida,sans-serif;
}

.private-footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: rgba(0,0,0,.32);
   color: #666666;
   text-align: center;
   font-family:  "Roboto Condensed",Helvetica,Arial,Lucida,sans-serif;
   font-size: 100%;
   height: 35px;
   padding: 0 20px;
   line-height: 35px;


}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');


p {
  border-right: solid 3px rgba(24, 26, 24, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Ubuntu', sans-serif; 
  font-size: 28px;
  color: rgb(212, 124, 139);

}


p {
  animation: animated-text 3s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}


@keyframes animated-text{
  from{width: 0;}
  to{width: 375px;}
}


@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.text {
	font-size: 35px;
	line-height: 30px;
	font-family: Andale Mono, monospace;
}

#navbar {
	
	 background-color: #444;
	 width: 100%;
	 height: 50px;
	 opacity: .3;
}
#navbar ul {
	
	 list-style-type: none;
}
#navbar ul li {
     
     float: left;
     padding: 15px;
 }
#navbar ul li a {

	text-decoration: none;
	color: #fff;
	font-family: sans-serif;
    padding: 14px 40px;
    transition-duration: 0.4s;
    font-size: 20px;


}
#navbar ul li a:hover {
	background-color: #005f5f;
	font-size: 19px;

}
#navbar:hover {

	border-bottom: 4px solid #005f5f;
}



button, button:hover, button:focus, button:active {
    outline: none !important;
}

button.btn:hover {
    cursor: pointer !important;
    transform: translateY(-3px) !important;
    transform-style: preserve-3d;
    transform-origin: top;
    opacity: 0.9 !important;
}
button.btn:focus, button.btn:active {
    box-shadow: 0 0 0 4px rgba(111, 80, 255, 0.31);
}
button.btn.primary {
    background-color: #d5ccff !important;
    color: #f1f6ff !important;
}

button.btn.secondary {
    background-color: #585979;
    color: #f3fcff;
}
.navlinks {
    margin-top: 40px !important;
    flex: fit-content !important;
    display: inline !important;
}

button.btn {
    padding: 10px 50px !important;
    border-radius: 5px !important;
    margin-top: 40px !important;
    font-family: 'Noto Kufi Arabic', sans-serif;
    font-size: 16px !important;
    transition: ease-in 0.3s !important;
    box-shadow: 1px 10px 15px rgba(70, 55, 121, 0.24);
    margin-right: 5px !important;
    margin-left: 5px !important;
    border: 1px solid #f9000000 !important;
    
}

button, button:hover, button:focus, button:active {
    outline: none !important;
}

button.btn:hover {
    cursor: pointer !important;
    transform: translateY(-3px) !important;
    transform-style: preserve-3d;
    transform-origin: top;
    opacity: 0.9 !important;
    
}
button.btn:focus, button.btn:active {
    box-shadow: 0 0 0 4px rgba(111, 80, 255, 0.31);
}
button.btn.primary {
    background-color: #6c4ef6 !important;
    color: #f1f6ff !important;
}

button.btn.secondary {
    background-color: #585979;
    color: #f3fcff;
    
}
.navlinks {
    margin-top: 40px !important;
    flex: fit-content !important;
    display: inline !important;
}
.navlink {
    display: inline !important;
    color: #d9daf1;
    margin: 0px 10px 10px 10px !important;
    text-decoration: none !important;
}

.navlinks {
    margin-top: 40px !important;
    flex: fit-content !important;
    display: inline !important;
}
.navlink {
    display: inline !important;
    color: #dddef3;
    margin: 0px 10px 10px 10px !important;
    text-decoration: none !important;
}

.navlink.brand {
    margin-left: 830px !important;
    font-weight: bolder !important;
    font-size: 25px !important;
    font-family: "NeoSans", sans-serif !important;
}

.navlinks {
    margin-top: 40px !important;
    flex: fit-content !important;
    display: inline !important;
}
.navlink {
    display: inline !important;
    color: #e3e4fd;
    margin: 0px 10px 10px 10px !important;
    text-decoration: none !important;
}

.navlink.brand {
    margin-left: 830px !important;
    font-weight: bolder !important;
    font-size: 25px !important;
    font-family: "NeoSans", sans-serif !important;
}

.features {
    text-align: center !important;
    background: linear-gradient(to right, #6c4ef6 50%, #7f2bef 50%);
    padding: 60px 50px !important
}
.features .title {
    font-size: 40px !important;
    color: #b2c4e6 !important;
    line-height: 70px !important;
}

.features .subtitle {
    font-size: 20px !important;
    color: #d0d7ee;
}

